.in {
    border: 1px solid black;
    max-width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
    display:flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

button {
    padding: 2%;
    background-color:teal;
    border: 1px solid black;
    border-radius: 25px;
    margin:auto;
    margin-top: 5%;
    width: 25%;
    color:white;
}

.out {
    border: 1px solid black;
    margin-top: 4%;
    padding: 2%;
    border-radius: 10px;
    color:rgb(57, 57, 57);
    background-color:rgb(180, 230, 240);
}