ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:cadetblue;
}

ul li {
  float: left;
}

.logo {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 2px solid white;
}

ul li a{
  display: block;
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:rgb(75, 125, 125);
}