body {
    max-width: 1000px;
    margin: auto;
    color: darkslategray;
    background-color:gainsboro;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3 {
    margin-bottom: 5px;
}
p {
    margin-top: 0px;
    margin-left: 15px;
    line-height: 25px;
    padding: 5px;
}
.indent {
    display: block;
    text-indent: 2rem;
}
.subsection {
    width: 750px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.nav {

    display: flex;
    gap: 1rem;
    list-style:disc;
    justify-content: space-around;

    background: #eee;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
}