.box {
    width: 200px;
    height: 30px;
    padding: 20px 5px 5px 30px;
    border: 5px solid black;
    margin: 2px;
}
.specialpara {
    color:darkblue;
}
h1 {
    margin-top: 5px;
}
#tableheader {
    color:brown;
}
table, th, td {
    border: 1px solid black;
}
fieldset {
    width: 500px;
}