.box {
    width: 200px;
    height: 30px;
    padding: 20px 5px 5px 30px;
    border: 5px solid black;
    margin: 2px;
}
h1 {
    margin-top: 5px;
}
table {
    border-collapse: separate;
    border-spacing: 5px 5px;
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
}
fieldset {
    width: 500px;
}